* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../project-fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Light;
  src: url(../project-fonts/Poppins-Light.ttf);
}

body {
  background-color: #f1fbfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 125rem;
  margin: 0;
  margin-top: 20rem;
}

p {
  margin: 0;
  padding: 0;
}

.billboard-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.billboard-section .billboard-clouds .cloud1 {
  position: absolute;
  width: 28rem;
  right: 15rem;
}

.billboard-section .billboard-clouds .cloud2 {
  position: absolute;
  width: 25rem;
  right: 10rem;
  top: 30rem;
}

.billboard-section .billboard-clouds .cloud3 {
  position: absolute;
  width: 23rem;
  left: 20rem;
}

.billboard-section .billboard-clouds .cloud4 {
  position: absolute;
  width: 30rem;
  left: 12rem;
  top: 20rem;
}

.billboard-section .billboard-board-container {
  position: relative;
  bottom: 9.5rem;
}

.billboard-section .billboard-board-container .billboard-board {
  width: 80rem;
}

.billboard-section .billboard-board-container .billboard-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 35rem;
  right: 5rem;
  top: 10rem;
}

.billboard-section .billboard-board-container .billboard-text .billboard-title {
  font-family: Poppins-Bold;
  font-size: 2.5rem;
}

.billboard-section .billboard-board-container .billboard-text .billboard-desc {
  font-family: Poppins-Light;
  font-size: 1.5rem;
}

.billboard-section .billboard-board-container .billboard-vector {
  position: absolute;
  top: 13rem;
  left: 9rem;
}

.billboard-section .billboard-board-container .billboard-vector .vector {
  width: 18rem;
}

.billboard-section .billboard-board-container .billboard-linkedin {
  position: absolute;
  bottom: 19rem;
  right: 4rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.billboard-section .billboard-board-container .billboard-linkedin .linkedin {
  width: 2.5rem;
}

.billboard-section .billboard-board-container .billboard-linkedin:hover {
  bottom: 19.5rem;
}

.billboard-section .billboard-footer-section {
  position: absolute;
  bottom: 0rem;
  z-index: -1;
}

.billboard-section .billboard-footer-section .billboard-footer {
  width: 120rem;
}

.nav-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar-container .nav-bar {
  background-color: #fafafa;
  width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-bar-container .nav-bar a {
  margin: 0.5rem 3rem 0.5rem 3rem;
}

.room1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.room1-container .room1 {
  width: 120rem;
}
/*# sourceMappingURL=Aref_projects_styles.css.map */