$bg-color: #f1fbfd;
$bg-nav-bar: #fafafa;
$link: #000000;

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../project-fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Light;
  src: url(../project-fonts/Poppins-Light.ttf);
}

.newtab_img {
  transition-duration: 0.3s;
  cursor: pointer;
  opacity: 1;
  border-radius: 0.5rem;
}

.newtab_img:hover {
  opacity: 0.8;
  border-radius: 3rem;
}

.linkstyling {
  color:black;
  font-weight: bold;
}

body {
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 125rem;
  margin: 0;
  margin-top: 20rem;
}

p {
  margin: 0;
  padding: 0;
}


.billboard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .billboard-clouds {
    .cloud1 {
      position: absolute;
      width:28rem;
      right: 15rem;
    }
    .cloud2 {
      position: absolute;
      width:25rem;
      right: 10rem;
      top: 30rem;
    }
    .cloud3 {
      position: absolute;
      width:23rem;
      left: 20rem;
    }
    .cloud4 {
      position: absolute;
      width:30rem;
      left: 12rem;
      top: 20rem;
    }
  }

  .billboard-board-container {
    position: relative;
    bottom: 9.5rem;
    .billboard-board {
      width: 80rem;
      
    }
    .billboard-home {
      position: absolute;
      top: 5rem;
      left: 5rem;
      transition-duration: 0.3s;
      a {
        font-family: Poppins-Bold;
        text-decoration: none;
        color: $link;
        font-size: 1.5rem;
      }

      a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #070707;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      a:hover:after {
       
        transform: scaleX(1);
        transform-origin: bottom left;
        
      }
    }


    .billboard-text {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 35rem;
      right: 5rem;
      top: 10rem;
      .billboard-title {
        font-family: Poppins-Bold;
        font-size: 2.5rem;
      }

      .billboard-desc {
        font-family: Poppins-Light;
        font-size: 1.5rem;
        text-align: justify;
      }
    }

    .billboard-vector {
      position: absolute;
      top: 12rem;
      left: 7rem;
      .vector {
        width: 22rem;
      }

    }
    .billboard-linkedin {
      position: absolute;
      bottom: 19rem;
      right: 4rem;
      transition-duration: 0.3s;
      .linkedin {
        width: 2.5rem;
      }
    }

    .billboard-linkedin:hover {
      bottom: 19.5rem;
    }
  }

  .billboard-footer-section {
    position: absolute;
    bottom: 0rem;
    z-index: -1;
    .billboard-footer {
      width: 120rem;
    }
  }
}

.nav-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .nav-bar {
    background-color: $bg-nav-bar;
    width: 120rem;
    display:flex;
    justify-content: center;
    a {
      margin: 0.5rem 3rem 0.5rem 3rem;
    }
  }
}

.room1-section {
  display: flex;
  justify-content: center;
  .room1-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 120rem;
    .room1 {
      width: 120rem;
    }
    .lamp {
      position: absolute;
      width: 10rem;
      top: 2rem;
    }
    .room1-text-section {
      position: absolute;
      max-width: 50rem;
      top: 6rem;
      left: 12rem;
      .room1-text-title {
        font-family: Poppins-Bold;
        font-size: 2rem;
      }
      .room1-text {
        font-family: Poppins-Light;
        font-size: 1.3rem;
        text-align: justify;
      }
    }
    .room1-photo-section {
      position: absolute;
      max-width: 40rem;
      top: 8rem;
      right: 5rem;
      img {
        margin: 0.5rem;
        width: 25rem;
      }
    }
    .room1-notes-section {
      position: absolute;
      bottom: 7rem;
      left: 27rem;
      img {
        width: 40rem;
      }
    }
    .room1-left-section {
      position: absolute;
      bottom: 2rem;
      left: 5rem;
      img {
        width:15rem;
      }
    }
    .room1-right-section {
      position: absolute;
      bottom: 2.5rem;
      right:  7rem;
      img {
        width:6rem;
      }
    }
  }
  
}



.room2-section {
  display: flex;
  justify-content: center;
  .room2-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 120rem;
    .room2 {
      width: 120rem;
    }
    .lamp {
      position: absolute;
      width: 10rem;
      top: 2rem;
    }
    .room2-text-section {
      position: absolute;
      max-width: 50rem;
      top: 6rem;
      left: 12rem;
      .room2-text-title {
        font-family: Poppins-Bold;
        font-size: 2rem;
      }
      .room2-text {
        font-family: Poppins-Light;
        font-size: 1.3rem;
        text-align: justify;
      }
    }
    .room2-photo-section {
      position: absolute;
      max-width: 40rem;
      top: 8rem;
      right: 12rem;
      iframe {
        
        width: 40rem;
        height: 30rem;
      }
    }
    .room2-notes-section {
      position: absolute;
      bottom: 8rem;
      left: 27rem;
      img {
        width: 40rem;
      }
    }
    .room2-left-section {
      position: absolute;
      bottom: 2rem;
      left: 5rem;
      img {
        width:7rem;
      }
    }
    .room2-right-section {
      position: absolute;
      bottom: 0rem;
      right:  5rem;
      img {
        width: 25rem;
      }
    }
  }
  
}


.room3-section {
  display: flex;
  justify-content: center;
  .room3-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 120rem;
    .room3 {
      width: 120rem;
    }
    .lamp {
      position: absolute;
      width: 10rem;
      top: 2rem;
    }
    .room3-text-section {
      position: absolute;
      max-width: 50rem;
      top: 6rem;
      left: 12rem;
      .room3-text-title {
        font-family: Poppins-Bold;
        font-size: 2rem;
      }
      .room3-text {
        font-family: Poppins-Light;
        font-size: 1.3rem;
        text-align: justify;
      }
    }
    .room3-photo-section {
      position: absolute;
      max-width: 41rem;
      top: 18rem;
      right: 14rem;
      img {
        width: 20rem;
      }
    }
    .room3-notes-section {
      position: absolute;
      bottom: 5rem;
      left: 27rem;
      img {
        width: 30rem;
      }
    }
    .room3-left-section {
      position: absolute;
      bottom: 2rem;
      left: 5rem;
      img {
        width:7rem;
      }
    }
    .room3-right-section {
      position: absolute;
      bottom: 0rem;
      right:  5rem;
      img {
        width: 25rem;
      }
    }
  }
  
}

.basement-section {
  display: flex;
  justify-content: center;
  .basement-container {
   position: relative;
    .basement {
      width: 125rem;
    }
    .basement-left-section {
      position: absolute;
      left: 10rem;
      bottom: 13rem;
      transition-duration: 0.3s;
      img {
        width: 20rem;
      }
    }

    .basement-left-section:hover {
     left: 9rem;
     
    }


    .basement-right-section {
      position: absolute;
      right: 10rem;
      bottom: 13rem;
      transition-duration: 0.3s;
      img {
        width: 20rem;
      }
    }

    .basement-right-section:hover {
      right: 9rem;
      
     }

     .basement-back-to-top {
      position: absolute;
      right: 8rem;
      bottom: 5rem;
      transition-duration: 0.3s;
      img {
        width: 5rem;
      }
    }

    .basement-back-to-top:hover  {
      bottom: 6rem;
    }

  }
}