$bg: #dcf0fa;
$height: 200px;
$width: 500px;
$button: #D6D5C9;
$buttonBorder: #555550;

body {
    background-color: $bg;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#building {
    display: flex;
    flex-direction: column;
}

#navigation {
    width: 80px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 80px;
}

.button {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: $button;
    border: 1px solid $buttonBorder;
    margin-bottom: 20px;
}

.button:hover {
    border: 2px solid $buttonBorder;
}

a {
    text-decoration: none;
}