$bg: #dcf0fa;
$cloud:	#DBF3FA;

body { 
    background-color: $bg;
    display: flex;
    flex-direction: row;
    margin: 0px;
    overflow: hidden;
}

.beginOpacity {
    opacity: 0.0;
}

#left {
    display: flex;
    flex-direction: column;
}

#right {
    display: flex;
    flex-direction: column;
}

#topLeftClouds {
    width: 30vw;
    height: 50vh;
    background-color: $cloud;
}

#bottomLeftClouds {
    width: 30vw;
    height: 50vh;
    background-color: $cloud;
}

#topRightClouds {
    width: 75vw;
    height: 50vh;
    background-color: $cloud;
}

#bottomRightClouds {
    width: 75vw;
    height: 50vh;
    background-color: $cloud;
}

#middle {
    width: 0vw;
}

p {
    font-size: 20px;
    margin-left: 30px;
}

button {
    font-size: 20px;
    text-align: center;
    margin-left: 30px;
}

img {
    position: absolute;
    height: 20%;
    width: 20%;
    z-index: 1;
}

#cloud1 {
    margin-top: 0px;
    margin-left: 0px;
}

#cloud2 {
    margin-top: 5vh;
    margin-left: 20vw;
}

#cloud3 {
    margin-top: 25vh;
    margin-left: 35vw;
}

#cloud4 {
    margin-top: 0vh;
    margin-left: 40vw;
}

#cloud5 {
    margin-top: 0vh;
    margin-left: 35vw;
}

#cloud6 {
    margin-top: 25vh;
    margin-left: 15vw;
}

#cloud7 {
    margin-top: 25vh;
    margin-left: 0vw;
}

#cloud8 {
    margin-top: 30vh;
    margin-left: 40vw;
}

#cloud9 {
    margin-top: 10vh;
    margin-left: 10vw;
}

#cloud10 {
    margin-top: 0vh;
    margin-left: 30vw;
}

#cloud11 {
    margin-top: 25vh;
    margin-left: 0vw;
}

#cloud12 {
    margin-top: 35vh;
    margin-left: 15vw;
}

#cloud13 {
    margin-top: 5vh;
    margin-left: 5vw;
}

#cloud14 {
    margin-top: 25vh;
    margin-left: 15vw;
}

#cloud15 {
    margin-top: -5vh;
    margin-left: 30vw;
}

#cloud16 {
    margin-top: 35vh;
    margin-left: 35vw;
}

p {
    margin-top: 0px;
}

.leftMove {
    animation-name: moveLeft;
    animation-duration: 4s;
    animation-timing-function: linear;
}

.rightMove {
    animation-name: moveRight;
    animation-duration: 4s;
    animation-timing-function: linear;
}

.middleMove {
    animation-name: moveMiddle;
    animation-duration: 4s;
    animation-timing-function: linear;
}

.opacity {
    animation-name: opacityFast;
    animation-duration: 4s;
    animation-timing-function: linear;
}

@keyframes moveMiddle {
    0% {
        width: 0vw;
    }
    25% {
        width: 25vw;
    }
    50% {
        width: 50vw;
    }
    75% {
        width: 75vw;
    }
    100% {
        width: 100vw;
    }
}

@keyframes moveLeft {
    0% {
        width: 30vw;
    }
    25% {
        width: 22.5vw;
        opacity: 0.6;
    }
    50% {
        width: 15vw;
        opacity: 0.2;
    }
    75% {
        width: 7.5vw;
        opacity: -0.2;
    }
    100% {
        width: 0vw;
        opacity: -0.2;
    }
}

@keyframes moveRight {
    0% {
        width: 75vw;
    }
    25% {
        width: 56.25vw;
        opacity: 0.6;
    }
    50% {
        width: 37.5vw;
        opacity: 0.2;
    }
    75% {
        width: 18.75vw;
        opacity: -0.2;
    }
    100% {
        width: 0vw;
        opacity: -0.2;
    }
}

@keyframes opacityFast {
    0% {
        opacity: 1.0;
    }
    25% {
        opacity: 0.0;
    }
    50% {
        opacity: 0.0;
    }
    75% {
        opacity: 0.0;
    }
    100% {
        opacity: 0.0;
    }
}