$bg: rgba(228, 224, 224, 0.8);

body {
  background-color: $bg;
  overflow: hidden;
}

.airplane {
  height: 5vh;
}

.cloud {
  height: 7vh;
}

.cloud2 {
  height: 7vh;
}

.cloud3 {
  height: 7vh;
}

.cloud4 {
  height: 7vh;
}

.cloud5 {
  height: 7vh;
}
