html {
  font-size: 10px;
}

@font-face {
  font-family: PoppinsBold;
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(../fonts/Poppins-Light.ttf);
}

body {
  margin: 0;
  padding: 0;
}

.aref-ver1-header {
  display: flex;
  position: relative;
  justify-content: center;
  width: 190rem;
  p {
    z-index: 1;
    font-family: PoppinsLight;
    font-size: 2rem;
    margin: 1rem;
  }
}

.aref-ver1-header-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 190rem;
}

.aref-ver1-content {
  width: 190rem;
  position: relative;

  h1 {
    font-family: PoppinsBold;
  }
  p {
    font-family: PoppinsLight;
  }
}

.aref-ver1-content-bgimg {
  width: 190rem;
  display: absolute;
  top: 0;
  left: 0;
}

.aref-ver1-content-text {
  position: absolute;
  font-size: 1.7rem;
  top: 20rem;
  left: 24rem;
  width: 75rem;
}

.aref-ver1-content-images {
  position: absolute;
  top: 20rem;
  right: 24rem;
  display: flex;
  width: 65rem;
  flex-wrap: wrap;
  img {
    margin: 1.2rem;
    width: 30rem;
  }
}

.aref-ver1-content-bureau {
  position: absolute;
  right: 3rem;
  bottom: 9rem;
}

.aref-ver1-content-plant {
  position: absolute;
  left: 8rem;
  bottom: 10rem;
}
