$bg: #dcf0fa;
$ground: #ACBFA4;
$groundBorder: #899883;
$thijs: #598392;
$thijsBorder: #476874;
$aref: #DF2935;
$arefBorder: #B2202A;
$building: #3F2A2B;
$buildingBorder: #322122;


body {
    background-color: $bg;
    display: flex;
    justify-content: center;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: linear;
}

#town {
    background-image: url('../images/Eiland_yow.svg');
    height: 750px;
    width: 750px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#buildingOne {
    position: absolute;
    height: 150px;
    object-fit: contain;
    margin-top: 80px;
    margin-left: 240px;
}

#buildingTwo {
    position: absolute;
    height: 280px;
    object-fit: contain;
    margin-top: 250px;
    margin-left: 220px;
}

/*
#rowOne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

#rowTwo, #rowThree, #rowFour, #rowFive, #rowSix {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -193px;
}
*/

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1.0;
    }
}