$bg: #dcf0fa;
$ground: #ACBFA4;
$groundBorder: #899883;
$thijs: #598392;
$thijsBorder: #476874;
$aref: #DF2935;
$arefBorder: #B2202A;
$building: #3F2A2B;
$buildingBorder: #322122;


body {
    background-color: $bg;
    display: flex;
    justify-content: center;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: linear;
}

#town {
    background-image: url('../images/lellijk_eiland_lols.svg');
    height: 75vh;
    width: 75vw;
    margin: auto;
    margin-top: 10vh;
    background-repeat: no-repeat;
    background-position: center;
}

#buildingOne {
    height: 20vh;
    object-fit: contain;
    margin-top: 15vh;
    margin-left: 20vw;
}

#buildingTwo {
    height: 40vh;
    object-fit: contain;
    
}

/*
#rowOne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

#rowTwo, #rowThree, #rowFour, #rowFive, #rowSix {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -193px;
}
*/

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1.0;
    }
}